<div ng-init="init()">
    <table flex="90"  class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td>Название</td>
                <td class="hide-xs">Описание</td>
                <!--<td>Картинка</td>-->
                <td>Действия</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="category in categories">
                <td><% category.id %></td>
                <td><% category.name_RU %></td>
                <td class="hide-xs"><% category.description || keyToText('not defined') %></td>
                <!--<td>
                    <% category.image ? '' : keyToText('not defined') %>
                    <img ng-if="category.image" width="100px" height="100px" ng-src="/images/<% category.image %>">
                </td>-->
                <td>
                    <md-button ng-click="edit(category.id)" class="md-raised md-primary">
                        <%keyToText('edit')%>
                    </md-button>
                    <md-button ng-click="delete(category.id)" class="md-raised md-warn">
                        <%keyToText('delete')%>
                    </md-button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
