<div >
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && init()" placeholder="Search by title"  ng-model="search">
            </div>
            <hr>
            <div class="input-group">
                <md-checkbox ng-model="unPublishedEvents" ng-change="init()" aria-label="Checkbox 1">
                    Необходимо модерация
                </md-checkbox>
            </div>
        </div>
    </form>
    <table  class="table table-striped">
        <thead>
        <tr>
            <td  class="hide-xs">ID</td>
            <td class="hide-xs">Автор</td>
            <td class="hide-xs">Тип</td>
            <td flex-sx="10">Заголовок</td>
            <td>Дата</td>
            <td class="hide-xs">Цена</td>
            <td class="hide-xs">Фоловеры</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in users">
            <td  class="hide-xs"><% data.id %></td>
            <td class="hide-xs"><% data.user.email || keyToText('not defined') %></td>
            <td class="hide-xs"><% data.type || keyToText('not defined') %></td>
            <td flex-sx="10"><% data.title || keyToText('not defined') %></td>
            <td><% data.date || 'Date not defined' %> <% data.time || 'Time not defined' %></td>
            <td class="hide-xs"><% data.price || keyToText('not defined') %></td>
            <td class="hide-xs"><% data.follow_count || keyToText('not defined') %></td>
            <td>
                <md-button ng-if="data.publish !== 1" ng-click="publish(data)" class="md-raised md-primary">
                    <% keyToText('publish') %>
                </md-button>
                <md-button ng-if="data.publish == 1" ng-click="unpublish(data)" class="md-raised md-warn">
                    <% keyToText('unpublish') %>
                </md-button>
                <md-button ng-click="edit(data.id)" class="md-raised md-primary">
                    <% keyToText('edit') %>
                </md-button>
                <md-button ng-click="delete(data.id)" class="md-raised md-warn">
                    <% keyToText('delete') %>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" ,
               cl-align="center center" , cl-current-page="paging.current"></cl-paging>
</div>
