<div ng-init="init()">
    <md-card>
        <md-card-content>
            <div ng-repeat="input in schema">

                <div ng-if="input.type == 'file'">
                    <div class="md-button md-raised md-primary" ngf-select="upload($file)" ng-model="file"
                         ngf-multiple="false">
                        Select Image
                    </div>
                    <div ng-if="uploadedFile">
                        <img width="300px" height="100px" ng-src="/images/<% uploadedFile %>">
                    </div>
                </div>

                <div ng-if="input.type == 'checkbox'">
                    <md-input-container class="md-block">
                        <% keyToText(input.key) %>
                        <input type="checkbox" ng-model="data[input.key]" aria-label="">
                    </md-input-container>
                </div>

                <div ng-if="input.type == 'date_picker'">
                    <label><%keyToText(input.key)%></label>
                    <md-datepicker ng-model="data[input.key]" name="dateField"
                    ></md-datepicker>
                    <md-input-container>
                        <div ng-messages="myOtherForm.dateField.$error">
                            <div ng-message="valid">The entered value is not a date!</div>
                            <div ng-message="required">This date is required!</div>
                            <div ng-message="mindate">Date is too early!</div>
                            <div ng-message="maxdate">Date is too late!</div>
                        </div>
                    </md-input-container>
                </div>

                <div ng-if="input.type == 'categories_select'">
                    <md-input-container>
                        <label><% keyToText('category_id') %></label>
                        <md-select required ng-model="data[input.key]">
                            <md-option ng-repeat="category in categories_select" ng-value="category.id"><% category.name
                                %>
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div ng-if="input.type == 'type_select'">
                    <md-input-container>
                        <label><% keyToText('type') %></label>
                        <md-select required ng-model="data[input.key]">
                            <md-option value="private"><em><% keyToText('private') %></em></md-option>
                            <md-option value="public"><em><% keyToText('public') %></em></md-option>
                        </md-select>
                    </md-input-container>
                </div>


                <div ng-if="input.type == 'text'">
                    <md-input-container class="md-block">
                        <label><% keyToText(input.key) %></label>
                        <input type="text" required name="input.key" ng-model="data[input.key]">
                        <div ng-messages="user.key.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>

                <div ng-if="input.type == 'number'">
                    <md-input-container class="md-block">
                        <label><%keyToText(input.key)%></label>
                        <input type="number" required name="input.key" ng-model="data[input.key]">
                        <div ng-messages="user.key.$error">
                            <div ng-message="required">This is required.</div>
                        </div>
                    </md-input-container>
                </div>


            </div>
            <hr>
            <div>
                <div ng-if="photos" class="photos">
                    <h3><%keyToText('images')%></h3>
                    <div ng-repeat="photo in photos" class="imagePreview">
                        <!-- width="90%" height="400px" -->
                        <img ng-src="/images/<% photo.image %>">
                        <!--<a class="removeButton" ng-click="removePhoto(photo)">[REMOVE]</a>-->
                        <md-button class="md-raised md-warn removeButton" ng-click="removePhoto(photo)"><%keyToText('remove image')%>
                        </md-button>
                    </div>
                </div>
                <div class="md-button md-raised md-primary" ngf-select="upload($file)" ng-model="file"
                     ngf-multiple="false">
                    <%keyToText('select image')%>
                </div>
            </div>
            <hr>
            <section layout="row" layout-align="end" layout-wrap>
                <md-button class="md-raised md-primary" ng-click="save()"><%keyToText('save')%></md-button>
                <md-button class="md-raised md-warn" onclick="window.history.back();"><%keyToText('back')%></md-button>
            </section>
        </md-card-content>
    </md-card>
</div>