<div ng-init="init()">
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search in params" ng-model="search">
            </div>
        </div>
    </form>
    <table  class="table table-striped">
        <thead>
        <tr>
            <td>ID</td>
            <td>Автор</td>
            <td>Тип</td>
            <td>Заголовок</td>
            <td>Дата</td>
            <td>Цена</td>
            <td>Фоловеры</td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="data in users | filter:search">
            <td><% data.id %></td>
            <td><% data.user.email || keyToText('not defined') %></td>
            <td><% data.type || keyToText('not defined') %></td>
            <td><% data.title || keyToText('not defined') %></td>
            <td><% data.date || 'Date not defined' %> <% data.time || 'Time not defined' %></td>
            <td><% data.price || keyToText('not defined') %></td>
            <td><% data.follow_count || keyToText('not defined') %></td>
            <td>
                <md-button ng-if="data.publish !== 1" ng-click="publish(data)" class="md-raised md-primary">
                    <% keyToText('publish') %>
                </md-button>
                <md-button ng-if="data.publish == 1" ng-click="unpublish(data)" class="md-raised md-warn">
                    <% keyToText('unpublish') %>
                </md-button>
                <md-button ng-click="edit(data.id)" class="md-raised md-primary">
                    <% keyToText('edit') %>
                </md-button>
                <md-button ng-click="delete(data.id)" class="md-raised md-warn">
                    <% keyToText('delete') %>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
