<div ng-init="init()">
    <form>
        Выберите категорию<br>

        <div class="form-group">
            <div class="input-group">
                <md-select  placeholder="Search in params" ng-model="category_selected"
                        ng-change="showUsersInMap()">
                    <md-option value="all">Во всех</md-option>
                    <md-option ng-repeat="category in categories" ng-value="category.id">
                        <% category.name_EN %>
                    </md-option>
                </md-select>
            </div>
        </div>
        <div id="map_canvas">
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
                <ui-gmap-markers models="markers" coords="'self'" icon="'icon'">
                </ui-gmap-markers>
                <ui-gmap-circle ng-repeat="c in circles track by c.id" center="c.center" stroke="c.stroke" fill="c.fill"
                                radius="c.radius"
                                visible="c.visible" geodesic="c.geodesic" editable="c.editable" draggable="c.draggable"
                                clickable="c.clickable" control="c.control" bounds="c.bounds"
                                events="c.events"></ui-gmap-circle>
            </ui-gmap-google-map>
        </div>
        <br>
        Пуши будут отправлены <% sendFor.length %> пользователям<br>


        <md-input-container class="md-block">
            <label><% keyToText('title') %><FONT color="red">*</FONT> </label>
            <input type="text"  name="input.key" ng-model="push.title">
            <div ng-messages="user.key.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label><% keyToText('description') %><FONT color="red">*</FONT></label>
            <input type="text"  name="input.key" ng-model="push.description">
            <div ng-messages="user.key.$error">
                <div ng-message="required">This is required.</div>
            </div>
        </md-input-container>

        <md-input-container class="md-block">
            <label><% keyToText('date') %></label>
            <input type="date" placeholder="optional"  name="input.key" ng-model="push.date">
        </md-input-container>

        <md-input-container class="md-block">
            <label><% keyToText('link') %></label>
            <input type="text" placeholder="http://www.yandex.ru"  name="input.key" ng-model="push.link">
        </md-input-container>

        <md-input-container class="md-block">
            <label><% keyToText('type') %><FONT color="red">*</FONT></label>
            <md-select ng-model="push.type" name="input.key" placeholder="Type of push" class="no-underline">
                <md-option selected value="ADVERTISING">Advertising</md-option>
                <md-option value="INFORMATION">Information</md-option>
                <md-option value="ANNOUNCEMENT">Announcement</md-option>
            </md-select>
        </md-input-container>


        <% push.image || 'Image not uploaded' %><FONT color="red">*</FONT><br>
        <div class="md-button md-raised md-primary" ngf-select="upload($file)" ng-model="push.image" ngf-multiple="false">
            Выбрать изображение
        </div>

        <section layout="row" layout-align="end" layout-wrap>
            <md-button ng-click="sendPushes()" data-ng-disabled="checkMarkers()" class="md-raised md-primary">
                Отправить
            </md-button>
        </section>

    </form>

</div>
