<div >
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" ng-keyup="$event.keyCode == 13 && init()"
                       placeholder="Search in params" ng-model="search">
            </div>
        </div>
    </form>
    <div layout="column" >

    <table  flex="90" ng-table="tableParams" class="table table-striped">
        <thead>
        <tr>
            <td class="hide-xs" >
                ID
            </td>
            <td class="hide-xs" >
                Имя
            </td>
            <td flex-xs="20">
                Email
            </td>
            <td class="hide-xs">
                Телефон</td>
            <td class="hide-xs">
                Balance
            </td>
            <td class="hide-xs">
                Место
            </td>
            <td>Действия</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td class="hide-xs"><% user.id %></td>
            <td class="hide-xs"><% user.name || keyToText('not defined') %></td>
            <td><% user.email || keyToText('not defined') %></td>
            <td class="hide-xs">
                <% user.phone_1 || keyToText('not defined') %><br>
                <% user.phone_2 || keyToText('not defined') %><br>
                <% user.phone_3 || keyToText('not defined') %>
            </td>
            <td class="hide-xs"><% user.balance || keyToText('not defined') %></td>
            <td class="hide-xs"><% user.location || keyToText('not defined') %></td>
            <td>
                <md-button ng-click="events(user.email)" class="md-raised md-primary">
                    <%keyToText('events')%>
                </md-button>
                <md-button ng-click="edit(user.id)" class="md-raised md-primary">
                    <%keyToText('edit')%>
                </md-button>

                <md-button ng-if="user.banned !== 1" ng-click="ban(user)" class="md-raised md-warn">
                    <%keyToText('ban')%>
                </md-button>
                <md-button ng-if="user.banned == 1" ng-click="unban(user)" class="md-raised md-primary">
                    <%keyToText('unban')%>
                </md-button>

                <md-button ng-click="delete(user.id)" class="md-raised md-warn">
                    <%keyToText('delete')%>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
    </div>

    <cl-paging flex cl-pages="paging.total" , cl-steps="6" , cl-page-changed="paging.onPageChanged()" ,
               cl-align="center center" , cl-current-page="paging.current"></cl-paging>
</div>
